  // _mixins.scss
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin responsive-font($small, $medium, $large) {
    font-size: $small;

    @media (min-width: 768px) {
      font-size: $medium;
    }

    @media (min-width: 1024px) {
      font-size: $large;
    }
  }
